.main-gallery {
  overflow: hidden;
  -webkit-padding-before: 160px;
  padding-block-start: 160px;
}
.gallery-title {
  position: relative;
  padding-inline: 40px;
}
.gallery-title h3 {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
  word-break: keep-all;
}
.gallery-title p {
  text-align: center;
  margin-top: 16px;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
}
.gallery-tab-wrap {
}
.gallery-tab {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1202px;
  width: 100%;
  margin: 72px auto 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
}
.gallery-tab-menu {
  position: relative;
  bottom: -2px;
  flex: none;
  min-width: 320px;
  height: 60px;
  cursor: pointer;
  opacity: 0.5;
}
.gallery-tab-active {
  opacity: 1;
  border-bottom: 4px solid #fff;
}
.gallery-tab-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 28px;
  color: #fff;
}
.gallery-tab-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  overflow: hidden;
  vertical-align: middle;
  transition: 0.2s ease-in-out;
}
.gallery-pc-slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.gallery-pc-slide .swiper {
  width: 100%;
  margin-inline: auto;
  margin-bottom: 140px;
  padding-block: 140px 34px;
}
.gallery-pc-slide .swiper-wrapper {
  list-style: none;
}
.gallery-pc-slide .swiper-slide {
  max-width: 1004px;
  width: 100%;
}
.gallery-pc-slide .swiper-slide::before {
  content: "";
  z-index: 1;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/e279310.webp") top / contain no-repeat;
}
.gallery-pc-slide .swiper-inner {
  width: 100%;
  height: 100%;
  padding: 17px 19px 22px;
}
.gallery-pc-slide .swiper-inner {
  isplay: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
}
.gallery-pc-slide .gallery-download {
  text-decoration: none;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  position: absolute;
  bottom: 50px !important;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 264px;
  height: 65px;
  background: url("../assets/img/475077e.webp") 50% / contain no-repeat;
}
.gallery-pc-slide .swiper-slide.swiper-slide-active .gallery-download {
  opacity: 1;
  visibility: visible;
}
.gallery-download-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  vertical-align: middle;
  transition: 0.2s ease-in-out;
}
.gallery-download-icon svg {
  visibility: visible;
  width: inherit;
  height: inherit;
}
.gallery-download-text {
  font-weight: 400 !important;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fff;
  text-transform: uppercase;
}
.gallery-pc-slide .swiper-navigation {
  list-style: none;
}
.gallery-pc-slide .swiper-button-next {
  width: 50px;
  height: 100px;
  inset-inline: auto;
  inset-inline-end: 40px;
  background: url("../assets/img/swiper-next.svg") 50% / contain no-repeat;
}
.gallery-pc-slide .swiper-button-next::after {
  font-size: 0;
}
.gallery-pc-slide .swiper-button-prev {
  width: 50px;
  height: 100px;
  inset-inline: auto;
  inset-inline-start: 40px;
  background: url("../assets/img/swiper-prev.svg") 50% / contain no-repeat;
}
.gallery-pc-slide .swiper-button-prev::after {
  font-size: 0;
}
.gallery-pc-slide .swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.gallery-pc-slide .swiper-pagination-bullet {
  cursor: pointer;
  width: 60px;
  height: 6px;
  opacity: 0.4;
  background-color: #fff !important;
  border-radius: 9999px;
}
.gallery-pc-slide .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
