span.svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}
.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 1601;
  min-width: 320px;
  color: #fff;
  background: #000;
  transition: transform 0.2s ease-in-out;
}
.header-inner {
  position: relative;
  z-index: 1502;
}
.gnb {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-inline: auto;
  padding-inline: 36px;
  max-width: 2560px;
  height: 104px;
  transition: padding 0.2s ease-in-out;
}
.gnb > div {
  flex: 0 1 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
.gnb .gnb-item1 {
  flex: 0 0 40%;
  justify-content: flex-start;
}
.outlink {
  position: relative;
  color: #000;
  white-space: normal;
  transition: padding 0.2s ease-in-out;
  z-index: 1;
}
.outlink > span {
  overflow: hidden;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.outlink > span > svg {
  transition: all 0.2s ease-in-out;
}
.outlink > span > svg > circle,
.outlink > span > svg > path {
  transition: all 0.2s ease-in-out;
}
.outlink > span:hover > svg > circle,
.outlink > span:hover > svg > path {
  fill: #f90;
}
/* 헤더왼쪽 오픈레이어 */
.outlink-layer {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s, visibility 0s linear 0.3s;
  transform: translateX(-30px);
  position: fixed;
  inset: 0;
  -webkit-padding-end: 6px;
  padding-inline-end: 6px;
  width: 480px;
  background: #f6bf00;
}
.outlink-layer.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s, transform 0.3s, visibility 0s;
  transform: translateX(0);
}
.outlink-layer .outlink-bg {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  vertical-align: middle;
}
.outlink-layer .outlink-bg .layer-bg {
  background-image: url("../assets/img/49a81ea.webp");
  background-position: 0 0;
  width: 480px;
  height: 1483px;
  position: relative;
  z-index: 0;
  transition: opacity 0.2s ease-in-out;
}
.outlink-layer .outlink-inner {
  max-height: 100vh;
  height: 100%;
  position: relative;
  padding-block: 40px 120px;
  transition: 0.2s ease-in-out;
}
.outlink-layer .outlink-inner .outlink-close {
  display: flex;
  justify-content: flex-end;
  padding-inline: 54px;
}
.outlink-layer .outlink-inner .outlink-close span {
  cursor: pointer;
}
.outlink-layer .outlink-inner .outlink-title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  padding-inline: 60px;
  transition: 0.2s ease-in-out;
}
.outlink-layer .outlink-inner .outlink-list {
  overflow: hidden auto;
  position: relative;
  margin-block-start: 40px;
  padding-block-end: 120px;
  padding-inline: 60px 54px;
  height: 100%;
  transition: margin 0.2s ease-in-out;
}
.outlink-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.outlink-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.outlink-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}
.outlink-list li {
  display: flex;
  -webkit-margin-before: 16px;
  margin-block-start: 16px;
  transition: 0.2s ease-in-out;
}
.outlink-list li:first-child {
  -webkit-margin-before: 0;
  margin-block-start: 0;
}
.outlink-list li a {
  display: block;
  overflow: hidden;
  width: 360px;
  height: 204px;
  transition: 0.2s ease-in-out;
}
.outlink-list li a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.2s ease-in-out;
}
.outlink-list li a:hover img {
  transform: scale(1.05);
}
.gnb .gnb-item2 a {
  display: block;
  padding-block: 10px;
}
.gnb .gnb-item2 a img {
  width: 139px;
  height: 48px;
  object-fit: cover;
}
.gnb .gnb-item3 {
  flex: 0 0 40%;
  justify-content: flex-end;
}
.language {
  position: relative;
  z-index: 1500;
  cursor: pointer;
}
.language .language-inner {
  display: flex;
  align-items: center;
  padding: 8px;
}
.language .language-inner span:nth-of-type(1) path {
  transition: 0.2s ease-in-out;
}
.language .language-inner span:nth-of-type(2) {
  margin-inline: 14px 8px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.language .language-inner span:nth-of-type(3) {
  transition: transform 0.3s ease;
}
.language-inner > span:nth-of-type(3).rotated {
  transform: rotate(-180deg);
}
.language .language-inner span:nth-of-type(3) path {
  transition: 0.2s ease-in-out;
}
.language:hover {
  color: #f2aa00;
}
.language:hover span:nth-of-type(1) path {
  fill: #f2aa00;
}
.language-inner.active {
  color: #f2aa00;
}
.language-inner.active span:nth-of-type(1) path {
  fill: #f2aa00;
}

.language-dropdown {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s, visibility 0s linear 0.3s;
  transform: translateY(-10px);
  position: absolute;
  inset-block-start: calc(100% + 6px);
  inset-inline-end: -16px;
}
.language-dropdown.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s, transform 0.3s, visibility 0s;
  transform: translateY(0);
}
.language-dropdown .dropdown-inner {
  -webkit-border-before: 4px solid #f2aa00;
  border-block-start: 4px solid #f2aa00;
  border-end-end-radius: 2px;
  background: #000;
  transition: 0.2s ease-in-out;
}
.language-dropdown .dropdown-inner::after {
  content: "";
  display: block;
  position: absolute;
  inset-block-end: -9.5px;
  inset-inline-start: 0;
  width: 100%;
  height: 10px;
  background: #000;
  -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
}
.language-dropdown .dropdown-inner .dropdown-list {
  overflow: hidden auto;
  position: relative;
  padding-block: 10px;
  padding-inline: 24px;
  max-height: calc(100vh - 160px);
  scrollbar-arrow-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-face-color: #dbdaff;
  scrollbar-highlight-color: transparent;
  scrollbar-shadow-color: transparent;
  transition: 0.2s ease-in-out;
}
.language-dropdown .dropdown-inner .dropdown-list li {
  position: relative;
  color: #aaa;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.language-dropdown .dropdown-inner .dropdown-list li.on {
  color: #fff;
}
.language-dropdown .dropdown-inner .dropdown-list li p {
  display: flex;
  align-items: center;
  width: 100%;
  height: 53px;
  font-size: 20px;
  line-height: 53px;
  white-space: nowrap;
  text-align: start;
  transition: height 0.2s ease-in-out;
  font-family: refrigerator-deluxe, "Roboto Condensed", "Noto Sans",
    "Noto Sans KR", "Noto Sans TC", "Source Han Sans CN", "Noto Sans JP",
    "Noto Sans Thai", "Noto Sans Arabic", blinkmacsystemfont, -apple-system,
    "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", helvetica, arial, sans-serif !important;
}
.dropdown-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.dropdown-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.dropdown-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

.bar {
  margin-inline: 16px;
  width: 1px;
  height: 18px;
  background: #555;
}
.login {
  -webkit-margin-start: 8px;
  margin-inline-start: 8px;
  white-space: nowrap;
  cursor: pointer;
}
.login .login-inner {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.login .login-inner span {
  transition: all 0.2s ease-in-out;
}
.login .login-inner span svg path {
  transition: all 0.2s ease-in-out;
}
.login:hover span {
  color: #f2aa00;
}
.login:hover span svg path {
  fill: #f2aa00;
}
.play {
  margin-inline: 36px -36px;
  width: 300px;
  height: 100%;
  -webkit-margin-start: 1.0411244144vw;
  margin-inline-start: 1.0411244144vw;
  width: 15.6168662155vw;
  cursor: pointer;
}
.play .play-now {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f6bf00;
  text-align: center;
  color: #000;
  letter-spacing: -0.025em;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  font-style: normal;
}
.play-now::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: url("../assets/img/49a81ea.webp");
  background-position: -482px 0;
  width: 300px;
  height: 104px;
}
.play-now span {
  position: relative;
}
.play-now::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  mix-blend-mode: soft-light;
  z-index: 1;
}
