.main-update {
  overflow: hidden;
  position: relative;
  margin-top: -734px;
  padding-block: 590px 394px;
  background: url("../assets/img/d258903.webp") top / cover no-repeat;
}
.update-title {
  position: relative;
  padding-inline: 40px;
}
.update-title h3 {
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
  color: #000;
  word-break: keep-all;
}
.update-title p {
  text-align: center;
  margin-top: 16px;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  color: #25262d;
}
.update-swiper {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.main-update .swiper {
  transition: opacity 0.1s ease-in-out;
  touch-action: auto !important;
}
.update-swiper > .swiper {
  opacity: 1;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-block: 64px 66px;
}
.main-update .swiper-wrapper {
  list-style: none;
}
.main-update .swiper-slide {
  max-width: 1216px;
  min-height: 706px;
  width: 100%;
}
.main-update .swiper-inner {
  width: 100%;
  height: 100%;
  padding: 28px;
  background: url("../assets/img/8af29f9.webp") 50% / contain no-repeat;
}
.main-update .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.main-update .swiper-navigation {
  list-style: none;
}
.main-update .swiper-button-next {
  width: 50px;
  height: 100px;
  inset-inline: auto;
  inset-inline-end: 40px;
  background: url("../assets/img/swiper-next.svg") 50% / contain no-repeat;
}
.main-update .swiper-button-next::after {
  font-size: 0;
}
.main-update .swiper-button-prev {
  width: 50px;
  height: 100px;
  inset-inline: auto;
  inset-inline-start: 40px;
  background: url("../assets/img/swiper-prev.svg") 50% / contain no-repeat;
}
.main-update .swiper-button-prev::after {
  font-size: 0;
}
.main-update .swiper-pagination-bullets {
  position: absolute;
  bottom: 0;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}
.main-update .swiper-pagination-bullet {
  cursor: pointer;
  width: 60px;
  height: 6px;
  opacity: 0.4;
  background-color: #000 !important;
  border-radius: 9999px;
}
.main-update .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
